html{
    box-sizing: border-box;
  }
  *, *::before, *::after{
    box-sizing: border-box;
  }

  body{
    font-family: 'Georgia';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #4C4C4C;
  }

  /*Header styles start*/

   .wrapper{
    max-width: 1280px;
    margin: 0 auto; 
   }

   .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF
   }

   .header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 30px;
   }

   .header_list{
    display: flex;
    flex-wrap: wrap;
   }

   .header_item{
    margin-right: 35px;
   }

   .header_item:last-child{
    margin-right: 0;
   }

   .header_link{
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    color: #545454; 
   }

   .header_link:hover, .header_link:focus, .header_link:active{
    opacity: .75;
   }

   .header_logo-link{
    text-decoration: none;
   }

   .logo_title{
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color:#545454;
   }

   .logo_sybtitle{
    font-family: 'Arial';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color:#545454;
   }
   /*Header styles end*/

   .pets_card{
    background: #F6F6F6;
   }

   .wrapper_card{
    max-width: 1200px;
    margin: 0 auto; 
    padding-top: 60px;
    padding-bottom: 100px;
   }
   
   .card{
    background: #FAFAFA;
    border-radius: 9px;
    
   }

   .pets_title{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 80px;

   }

   .our_freinds{
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    margin-top: 80px;
   }

   .pets_card_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap:40px;
    align-items: center;
    margin-bottom: 100px;
   }

   .pets_name{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 45px;
   }
   .pets_button{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
   }

   .learn_more{
    background-color: transparent;
    border-color:#F1CDB3;
    border-style: solid;
    border-radius: 100px;
    font-family: 'Georgia';
    color: #292929;
    padding: 15px 45px;
    max-width: 460px;
   }
    
   .learn_more:hover, .learn_more:focus, .learn_more:active{
    background: #F1CDB3;
  }
  .nav{
    display: flex;
    align-items: center;
    text-align: center;
  }
  .nav_grid{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 13px;
  }

   .button1{
    width: 52px; 
    height: 52px;
    border-radius: 100px;
    background: transparent;
    border-color: #F1CDB3;
    border-style: solid;
    border-width: 2px 2px;
    display: flex;
    align-items: center;
    text-align: center;
   }
   
   .button_text{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #292929;
    display: flex;
    text-align: center;
    align-items: center;
   }
   
   .about:hover, .about:focus, .about:active{
    background: #f5b587;
  }
 /* Footer start */
 .footer{
    background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    bottom: 0;
    right: 0;
    width: 100%;
   }

   .footer_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:160px;
    align-items: center;
    padding-top: 40px;
   }

   .for_questions_title, .for_visit_title{
    font-size: 35px;
    line-height: 130%;
    color: #FFFFFF;
   }

   .email_flex{
    display: flex;
    gap: 20px;
    padding-top: 45px;
    align-items: center;
   }

   .phone_flex{
    display: flex;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 60px;
    align-items: center;
   }

   .adress1_flex{
    display: flex;
    gap: 20px;
    padding-top: 34px;
    align-items: center;
   }

   .adress2_flex{
    display: flex;
    gap: 20px;
    padding-top: 32px;
    padding-bottom: 60px;
    align-items: center;
   }

   .email_adress, .nomer_phone,.adress1, .adress2{
    font-size: 20px;
    line-height: 115%;
    color: #F1CDB3;
   }